.bagan{
    width: 100%;
    height: auto;
}
 
.container {
   margin-top: -4%;
   background-color:  rgb(255, 174, 0);
   text-decoration: none;
   padding:20px 20px;
   margin-left: 5px;
   border-radius: 15px;
   position: absolute;

}

  .first{

    color:white;
    
  } 
